In [254]:
import pandas as pd

In [332]:
def khis_data_prep():
    df=pd.read_excel("FYJ_KHIS Data _ Oct - Dec'22.xlsx")
    df['month']=pd.to_datetime(df['month'])
    df['month']=df['month'].dt.strftime('%b %Y')

    df=df[['mfl', 'month', 'mois', 'facility', 'UniqID','PrEP_New_dhis','dhis_start_ipt_total','sGBV_Seen_dhis','dhis_screen_cacx_new_f18','dhis_tested_9', 'dhis_tested_14m', 'dhis_tested_14f', 'dhis_tested_19m', 'dhis_tested_19f', 'dhis_tested_24m', 'dhis_tested_24f', 'dhis_tested_25m', 'dhis_tested_25f','dhis_pos_lt9', 'dhis_pos_14m', 'dhis_pos_14f','dhis_pos_19m', 'dhis_pos_19f', 'dhis_pos_24m', 'dhis_pos_24f', 'dhis_pos_25m', 'dhis_pos_25f','known_pos_at_first_anc','pos_results_anc','on_haart_at_first_anc','start_haart_anc','infant_arv_prophyl_anc','pos_results_LD','start_haart_LD','infant_arv_prophyl_LD','pos_results_pnc_lt6wks','start_haart_pnc_lt6wks','infant_arv_prophyl_lt8wks_pnc','dhis_start_art_lt1','dhis_start_art_9','dhis_start_art_14m','dhis_start_art_14f','dhis_start_art_19m','dhis_start_art_19f','dhis_start_art_24m','dhis_start_art_24f','dhis_start_art_25m','dhis_start_art_25f','dhis_tb_cases_new','dhis_on_art_lt1', 'dhis_on_art_9', 'dhis_on_art_14m', 'dhis_on_art_14f','dhis_on_art_19m', 'dhis_on_art_19f', 'dhis_on_art_24m', 'dhis_on_art_24f', 'dhis_on_art_25m', 'dhis_on_art_25f','kps_at_first_anc','anc_initial_test','first_anc_visits','pos_pnc_gt6weeks_to_6_mon'
     ]]

    for i in df.columns[5:]:
        df[i]=df[i].astype(int)

    df['TX_New_p']=df['dhis_start_art_lt1']+df['dhis_start_art_9']+df['dhis_start_art_14m']+df['dhis_start_art_14f']
    df['TX_New_a']=df['dhis_start_art_19m']+df['dhis_start_art_19f']+df['dhis_start_art_24m']+df['dhis_start_art_24f']+df['dhis_start_art_25m']+df['dhis_start_art_25f']

    df['TX_New_t']=df['dhis_start_art_lt1']+df['dhis_start_art_9']+df['dhis_start_art_14m']+df['dhis_start_art_14f']+df['dhis_start_art_19m']+df['dhis_start_art_19f']+df['dhis_start_art_24m']+df['dhis_start_art_24f']+df['dhis_start_art_25m']+df['dhis_start_art_25f']

    df['TX_Curr_p']=df['dhis_on_art_lt1']+df['dhis_on_art_9']+df['dhis_on_art_14m']+df['dhis_on_art_14f']
    df['TX_Curr_a']=df['dhis_on_art_19m']+df['dhis_on_art_19f']+df['dhis_on_art_24m']+df['dhis_on_art_24f']+df['dhis_on_art_25m']+df['dhis_on_art_25f']

    df['TX_Curr_t']=df['dhis_on_art_lt1']+df['dhis_on_art_9']+df['dhis_on_art_14m']+df['dhis_on_art_14f']+df['dhis_on_art_19m']+df['dhis_on_art_19f']+df['dhis_on_art_24m']+df['dhis_on_art_24f']+df['dhis_on_art_25m']+df['dhis_on_art_25f']

    df['TST_t']=df['dhis_tested_9']+df['dhis_tested_14m']+df['dhis_tested_14f']+df['dhis_tested_19m']+df['dhis_tested_19f']+df['dhis_tested_24m']+df['dhis_tested_24f']+df['dhis_tested_25m']+df['dhis_tested_25f']

    df['TST_p']=df['dhis_tested_9']+df['dhis_tested_14m']+df['dhis_tested_14f']

    df['TST_a']=df['dhis_tested_19m']+df['dhis_tested_19f']+df['dhis_tested_24m']+df['dhis_tested_24f']+df['dhis_tested_25m']+df['dhis_tested_25f']

    df['TST_pos_p']=df['dhis_pos_lt9']+df['dhis_pos_14m']+df['dhis_pos_14f']
    df['TST_pos_a']=df['dhis_pos_19m']+df['dhis_pos_19f']+df['dhis_pos_24m']+df['dhis_pos_24f']+df['dhis_pos_25m']+df['dhis_pos_25f']

    df['TST_pos_t']=df['dhis_pos_lt9']+df['dhis_pos_14m']+df['dhis_pos_14f']+df['dhis_pos_19m']+df['dhis_pos_19f']+df['dhis_pos_24m']+df['dhis_pos_24f']+df['dhis_pos_25m']+df['dhis_pos_25f']

    df['PMTCT_STAT_N']=df['kps_at_first_anc']+df['anc_initial_test']
    df['PMTCT_STAT_D']=df['first_anc_visits']
    df['PMTCT_Pos']=df['kps_at_first_anc']+df['pos_results_anc']
    df['PMTCT_ARV']=df['start_haart_anc']+df['on_haart_at_first_anc']
    df['PMTCT_INF_ARV']=df['infant_arv_prophyl_anc']+df['infant_arv_prophyl_lt8wks_pnc']+df['infant_arv_prophyl_LD']
    df['Pos_PNC']=df['pos_results_pnc_lt6wks']+df['pos_pnc_gt6weeks_to_6_mon']

    columns_to_drop = ['dhis_on_art_19m', 'dhis_on_art_19f', 'dhis_on_art_24m', 'dhis_on_art_24f', 'dhis_on_art_25m', 'dhis_on_art_25f','dhis_on_art_lt1','dhis_on_art_9','dhis_on_art_14m',                   'dhis_on_art_14f', 'dhis_start_art_lt1', 'dhis_start_art_9', 'dhis_start_art_14m', 'dhis_start_art_14f', 'dhis_start_art_19m', 'dhis_start_art_19f', 'dhis_start_art_24m',                   'dhis_start_art_24f', 'dhis_start_art_25m', 'dhis_start_art_25f', 'dhis_tested_9', 'dhis_tested_14m', 'dhis_tested_14f', 'dhis_tested_19m', 'dhis_tested_19f',                   'dhis_tested_24m', 'dhis_tested_24f', 'dhis_tested_25m', 'dhis_tested_25f', 'dhis_pos_lt9', 'dhis_pos_14m', 'dhis_pos_14f', 'dhis_pos_19m', 'dhis_pos_19f',                   'dhis_pos_24m', 'dhis_pos_24f', 'dhis_pos_25m', 'dhis_pos_25f','mois','UniqID','kps_at_first_anc', 'pos_pnc_gt6weeks_to_6_mon']

    df = df.drop(columns_to_drop, axis=1)




    df=df.rename(columns={
     'PrEP_New_dhis':'PrEP_New','dhis_start_ipt_total':'IPT','sGBV_Seen_dhis':'GBV_Sexual','dhis_screen_cacx_new_f18':'CXCA','known_pos_at_first_anc':'KP_ANC','pos_results_anc':'Newpos_ANC','on_haart_at_first_anc':'on HAART _ANC','start_haart_anc':'New on HAART_ANC','pos_results_LD':'Pos_L&D','start_haart_LD':'haart_l_d','dhis_tb_cases_new':'TB_STAT_D',"mfl":"MFL","facility":"Facility","month":"Month"
    })
    columns_to_use=['MFL', 'Facility', 'Month','TST_p', 'TST_a', 'TST_t', 'TST_pos_p',
    'TST_pos_a', 'TST_pos_t', 'TX_New_p', 'TX_New_a', 'TX_New_t',
    'TX_Curr_p', 'TX_Curr_a', 'TX_Curr_t', 'PMTCT_STAT_D', 'PMTCT_STAT_N',
    'PMTCT_Pos', 'PMTCT_ARV', 'PMTCT_INF_ARV',
    'PrEP_New', 'GBV_Sexual',  'infant_arv_prophyl_anc',
    'infant_arv_prophyl_LD','infant_arv_prophyl_lt8wks_pnc',
    'haart_l_d',
    'pos_results_pnc_lt6wks','start_haart_pnc_lt6wks',
    'KP_ANC',
    'Newpos_ANC', 'on HAART _ANC', 'New on HAART_ANC', 'Pos_L&D', 'Pos_PNC',
    'CXCA', 'TB_STAT_D', 'IPT','anc_initial_test', 'first_anc_visits',   ]
    df=df[columns_to_use]
    return df

In [333]:
df=khis_data_prep()
df

,MFL,Facility,Month,TST_p,TST_a,TST_t,TST_pos_p,TST_pos_a,TST_pos_t,TX_New_p,...,Newpos_ANC,on HAART _ANC,New on HAART_ANC,Pos_L&D,Pos_PNC,CXCA,TB_STAT_D,IPT,anc_initial_test,first_anc_visits
0,16796,AAR Clinic Sarit Centre (Westlands),Oct 2022,0,75,75,0,0,0,0,...,0,0,0,0,0,0,1,0,10,10
1,19958,AAR Gwh Health Care Ltd,Oct 2022,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,18535,Adventist Centre For Care and Support (Westlands),Oct 2022,0,4,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,12867,Agha Khan Hospital,Oct 2022,0,0,0,0,0,0,0,...,0,0,0,0,0,0,12,0,0,0
4,12870,Amurt Health Center,Oct 2022,10,74,84,0,3,3,0,...,0,0,0,0,0,11,4,1,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,15361,Nkama Dispensary,Dec 2022,0,5,5,0,0,0,0,...,0,0,0,0,0,0,0,0,8,8
446,15490,Rombo Health Centre,Dec 2022,1,23,24,0,1,1,0,...,0,1,0,0,0,0,2,1,15,58
447,15574,Simba Health Centre,Dec 2022,0,40,40,0,0,0,0,...,0,0,0,0,0,3,0,0,25,25
448,17767,Tropical Medical Clinic,Dec 2022,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
449,15748,Tumaini Clinic,Dec 2022,0,14,14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [337]:
for count, i in enumerate(df.columns):
    print(f"{count} {i}")

0 MFL
1 Facility
2 Month
3 TST_p
4 TST_a
5 TST_t
6 TST_pos_p
7 TST_pos_a
8 TST_pos_t
9 TX_New_p
10 TX_New_a
11 TX_New_t
12 TX_Curr_p
13 TX_Curr_a
14 TX_Curr_t
15 PMTCT_STAT_D
16 PMTCT_STAT_N
17 PMTCT_Pos
18 PMTCT_ARV
19 PMTCT_INF_ARV
20 PrEP_New
21 GBV_Sexual
22 infant_arv_prophyl_anc
23 infant_arv_prophyl_LD
24 infant_arv_prophyl_lt8wks_pnc
25 haart_l_d
26 pos_results_pnc_lt6wks
27 start_haart_pnc_lt6wks
28 KP_ANC
29 Newpos_ANC
30 on HAART _ANC
31 New on HAART_ANC
32 Pos_L&D
33 Pos_PNC
34 CXCA
35 TB_STAT_D
36 IPT
37 anc_initial_test
38 first_anc_visits

In [339]:
list(df['Month'].unique())

['Oct 2022', 'Nov 2022', 'Dec 2022']

In [322]:
# ['TST_p', 'TST_a', 'TST_t', 'TST_pos_p',
#        'TST_pos_a', 'TST_pos_t', 'TX_New_p', 'TX_New_a', 'TX_New_t',
#        'TX_Curr_p', 'TX_Curr_a', 'TX_Curr_t', 'PMTCT_STAT_D', 'PMTCT_STAT_N',
#        'PMTCT_Pos', 'PMTCT_ARV', 'PMTCT_INF_ARV', 'PMTCT_EID', 'HEI_Pos',
#        'HEI_Pos ART', 'PrEP_New', 'GBV_Sexual', 'GBV Emotional/Phy', 'KP_ANC',
#        'Newpos_ANC', 'on HAART _ANC', 'New on HAART_ANC', 'Pos_L&D', 'Pos_PNC',
#        'CXCA', 'TB_STAT_D', 'IPT']

['TST_p',
 'TST_a',
 'TST_t',
 'TST_pos_p',
 'TST_pos_a',
 'TST_pos_t',
 'TX_New_p',
 'TX_New_a',
 'TX_New_t',
 'TX_Curr_p',
 'TX_Curr_a',
 'TX_Curr_t',
 'PMTCT_STAT_D',
 'PMTCT_STAT_N',
 'PMTCT_Pos',
 'PMTCT_ARV',
 'PMTCT_INF_ARV',
 'PMTCT_EID',
 'HEI_Pos',
 'HEI_Pos ART',
 'PrEP_New',
 'GBV_Sexual',
 'GBV Emotional/Phy',
 'KP_ANC',
 'Newpos_ANC',
 'on HAART _ANC',
 'New on HAART_ANC',
 'Pos_L&D',
 'Pos_PNC',
 'CXCA',
 'TB_STAT_D',
 'IPT']

In [259]:
df.dtypes

MFL                               int64
Month                            object
Facility                         object
PrEP_New                          int32
IPT                               int32
GBV_Sexual                        int32
CXCA                              int32
KP_ANC                            int32
Newpos_ANC                        int32
on HAART _ANC                     int32
New on HAART_ANC                  int32
infant_arv_prophyl_anc            int32
Pos_L&D                           int32
haart_l_d                         int32
infant_arv_prophyl_LD             int32
infant_arv_prophyl_lt8wks_pnc     int32
TB_STAT_D                         int32
anc_initial_test                  int32
first_anc_visits                  int32
TX_New_p                          int32
TX_New_a                          int32
TX_New_t                          int32
TX_Curr_p                         int32
TX_Curr_a                         int32
TX_Curr_t                         int32
TST_t                             int32
TST_p                             int32
TST_a                             int32
TST_pos_p                         int32
TST_pos_a                         int32
TST_pos_t                         int32
PMTCT_STAT_N                      int32
PMTCT_STAT_D                      int32
PMTCT_Pos                         int32
PMTCT_ARV                         int32
PMTCT_INF_ARV                     int32
Pos_PNC                           int32
dtype: object

In [260]:
df.dtypes

MFL                               int64
Month                            object
Facility                         object
PrEP_New                          int32
IPT                               int32
GBV_Sexual                        int32
CXCA                              int32
KP_ANC                            int32
Newpos_ANC                        int32
on HAART _ANC                     int32
New on HAART_ANC                  int32
infant_arv_prophyl_anc            int32
Pos_L&D                           int32
haart_l_d                         int32
infant_arv_prophyl_LD             int32
infant_arv_prophyl_lt8wks_pnc     int32
TB_STAT_D                         int32
anc_initial_test                  int32
first_anc_visits                  int32
TX_New_p                          int32
TX_New_a                          int32
TX_New_t                          int32
TX_Curr_p                         int32
TX_Curr_a                         int32
TX_Curr_t                         int32
TST_t                             int32
TST_p                             int32
TST_a                             int32
TST_pos_p                         int32
TST_pos_a                         int32
TST_pos_t                         int32
PMTCT_STAT_N                      int32
PMTCT_STAT_D                      int32
PMTCT_Pos                         int32
PMTCT_ARV                         int32
PMTCT_INF_ARV                     int32
Pos_PNC                           int32
dtype: object

In [261]:
datim=pd.read_excel(r"C:\Users\Admin\Documents\jupter notebooks\fyj perf fy22 q3.xlsx")
datim.head(1)

,MFL,Facility,Month,TST_p,TST_a,TST_t,TST_pos_p,TST_pos_a,TST_pos_t,TX_New_p,...,GBV Emotional/Phy,KP_ANC,Newpos_ANC,on HAART _ANC,New on HAART_ANC,Pos_L&D,Pos_PNC,CXCA,TB_STAT_D,IPT
0,18398,Ajam Mission Health Centre,Oct - Dec 2022,3,130,133,0,5,5,0,...,29,1,0,1,0,NaN,NaN,17,0,21

In [262]:
df.columns

Index(['MFL', 'Month', 'Facility', 'PrEP_New', 'IPT', 'GBV_Sexual', 'CXCA',
       'KP_ANC', 'Newpos_ANC', 'on HAART _ANC', 'New on HAART_ANC',
       'infant_arv_prophyl_anc', 'Pos_L&D', 'haart_l_d',
       'infant_arv_prophyl_LD', 'infant_arv_prophyl_lt8wks_pnc', 'TB_STAT_D',
       'anc_initial_test', 'first_anc_visits', 'TX_New_p', 'TX_New_a',
       'TX_New_t', 'TX_Curr_p', 'TX_Curr_a', 'TX_Curr_t', 'TST_t', 'TST_p',
       'TST_a', 'TST_pos_p', 'TST_pos_a', 'TST_pos_t', 'PMTCT_STAT_N',
       'PMTCT_STAT_D', 'PMTCT_Pos', 'PMTCT_ARV', 'PMTCT_INF_ARV', 'Pos_PNC'],
      dtype='object')

In [263]:
datim.columns

Index(['MFL', 'Facility', 'Month', 'TST_p', 'TST_a', 'TST_t', 'TST_pos_p',
       'TST_pos_a', 'TST_pos_t', 'TX_New_p', 'TX_New_a', 'TX_New_t',
       'TX_Curr_p', 'TX_Curr_a', 'TX_Curr_t', 'PMTCT_STAT_D', 'PMTCT_STAT_N',
       'PMTCT_Pos', 'PMTCT_ARV', 'PMTCT_INF_ARV', 'PMTCT_EID', 'HEI_Pos',
       'HEI_Pos ART', 'PrEP_New', 'GBV_Sexual', 'GBV Emotional/Phy', 'KP_ANC',
       'Newpos_ANC', 'on HAART _ANC', 'New on HAART_ANC', 'Pos_L&D', 'Pos_PNC',
       'CXCA', 'TB_STAT_D', 'IPT'],
      dtype='object')

In [288]:
df.columns

Index(['MFL', 'Month', 'Facility', 'PrEP_New', 'IPT', 'GBV_Sexual', 'CXCA',
       'KP_ANC', 'Newpos_ANC', 'on HAART _ANC', 'New on HAART_ANC',
       'infant_arv_prophyl_anc', 'Pos_L&D', 'haart_l_d',
       'infant_arv_prophyl_LD', 'infant_arv_prophyl_lt8wks_pnc', 'TB_STAT_D',
       'anc_initial_test', 'first_anc_visits', 'TX_New_p', 'TX_New_a',
       'TX_New_t', 'TX_Curr_p', 'TX_Curr_a', 'TX_Curr_t', 'TST_t', 'TST_p',
       'TST_a', 'TST_pos_p', 'TST_pos_a', 'TST_pos_t', 'PMTCT_STAT_N',
       'PMTCT_STAT_D', 'PMTCT_Pos', 'PMTCT_ARV', 'PMTCT_INF_ARV', 'Pos_PNC'],
      dtype='object')

In [268]:
# ['TST_p', 'TST_a', 'TST_t', 'TST_pos_p',
#        'TST_pos_a', 'TST_pos_t', 'TX_New_p', 'TX_New_a', 'TX_New_t',
#        'TX_Curr_p', 'TX_Curr_a', 'TX_Curr_t', 'PMTCT_STAT_D', 'PMTCT_STAT_N',
#        'PMTCT_Pos', 'PMTCT_ARV', 'PMTCT_INF_ARV', 'PMTCT_EID', 'HEI_Pos',
#        'HEI_Pos ART', 'PrEP_New', 'GBV_Sexual', 'GBV Emotional/Phy', 'KP_ANC',
#        'Newpos_ANC', 'on HAART _ANC', 'New on HAART_ANC', 'Pos_L&D', 'Pos_PNC',
#        'CXCA', 'TB_STAT_D', 'IPT']

In [269]:
# ['mfl', 'month', 'mois', 'facility', 'UniqID', 'PrEP_New', 'IPT',
#        'GBV_Sexual', 'CXCA', 'dhis_tested_9', 'dhis_tested_14m',
#        'dhis_tested_14f', 'dhis_tested_19m', 'dhis_tested_19f',
#        'dhis_tested_24m', 'dhis_tested_24f', 'dhis_tested_25m',
#        'dhis_tested_25f', 'dhis_pos_lt9', 'dhis_pos_14m', 'dhis_pos_14f',
#        'dhis_pos_19m', 'dhis_pos_19f', 'dhis_pos_24m', 'dhis_pos_24f',
#        'dhis_pos_25m', 'dhis_pos_25f', 'known_pos_at_first_anc',
#        'pos_results_anc', 'on_haart_at_first_anc', 'start_haart_anc',
#        'infant_arv_prophyl_anc', 'pos_results_LD', 'start_haart_LD',
#
#        'infant_arv_prophyl_LD',
#  'pos_results_pnc_lt6wks',
#        'start_haart_pnc_lt6wks',
#  'infant_arv_prophyl_lt8wks_pnc',
#        'dhis_start_art_lt1',
#
#  'dhis_start_art_9','dhis_start_art_14m','dhis_start_art_14f',
#
#  'dhis_start_art_19m','dhis_start_art_19f','dhis_start_art_24m','dhis_start_art_24f','dhis_start_art_25m','dhis_start_art_25f'
#
# 'dhis_tb_cases_new',
#
#        'dhis_on_art_lt1', 'dhis_on_art_9', 'dhis_on_art_14m',
#        'dhis_on_art_14f', 'dhis_on_art_19m', 'dhis_on_art_19f',
#        'dhis_on_art_24m', 'dhis_on_art_24f', 'dhis_on_art_25m',
#        'dhis_on_art_25f']

In [270]:
df.shape

(450, 37)

In [271]:
df.columns

Index(['MFL', 'Month', 'Facility', 'PrEP_New', 'IPT', 'GBV_Sexual', 'CXCA',
       'KP_ANC', 'Newpos_ANC', 'on HAART _ANC', 'New on HAART_ANC',
       'infant_arv_prophyl_anc', 'Pos_L&D', 'haart_l_d',
       'infant_arv_prophyl_LD', 'infant_arv_prophyl_lt8wks_pnc', 'TB_STAT_D',
       'anc_initial_test', 'first_anc_visits', 'TX_New_p', 'TX_New_a',
       'TX_New_t', 'TX_Curr_p', 'TX_Curr_a', 'TX_Curr_t', 'TST_t', 'TST_p',
       'TST_a', 'TST_pos_p', 'TST_pos_a', 'TST_pos_t', 'PMTCT_STAT_N',
       'PMTCT_STAT_D', 'PMTCT_Pos', 'PMTCT_ARV', 'PMTCT_INF_ARV', 'Pos_PNC'],
      dtype='object')

In [272]:
df.head(1)

,MFL,Month,Facility,PrEP_New,IPT,GBV_Sexual,CXCA,KP_ANC,Newpos_ANC,on HAART _ANC,...,TST_a,TST_pos_p,TST_pos_a,TST_pos_t,PMTCT_STAT_N,PMTCT_STAT_D,PMTCT_Pos,PMTCT_ARV,PMTCT_INF_ARV,Pos_PNC
0,16796,Oct 2022,AAR Clinic Sarit Centre (Westlands),0,0,0,0,0,0,0,...,75,0,0,0,10,10,0,0,0,0

In [273]:
df.columns

Index(['MFL', 'Month', 'Facility', 'PrEP_New', 'IPT', 'GBV_Sexual', 'CXCA',
       'KP_ANC', 'Newpos_ANC', 'on HAART _ANC', 'New on HAART_ANC',
       'infant_arv_prophyl_anc', 'Pos_L&D', 'haart_l_d',
       'infant_arv_prophyl_LD', 'infant_arv_prophyl_lt8wks_pnc', 'TB_STAT_D',
       'anc_initial_test', 'first_anc_visits', 'TX_New_p', 'TX_New_a',
       'TX_New_t', 'TX_Curr_p', 'TX_Curr_a', 'TX_Curr_t', 'TST_t', 'TST_p',
       'TST_a', 'TST_pos_p', 'TST_pos_a', 'TST_pos_t', 'PMTCT_STAT_N',
       'PMTCT_STAT_D', 'PMTCT_Pos', 'PMTCT_ARV', 'PMTCT_INF_ARV', 'Pos_PNC'],
      dtype='object')

In [274]:
df.shape

(450, 37)

In [276]:
df['Month'].unique()

array(['Oct 2022', 'Nov 2022', 'Dec 2022'], dtype=object)

In [277]:
list1 = list(df.columns)
list2 = list(datim.columns)

set1 = set(list1)
set2 = set(list2)

missing = list(sorted(set1 - set2))
added = list(sorted(set2 - set1))

print('missing:', missing)
print('added:', added)

missing: []
added: []